{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- selected movie name -->
      <a href="/project/{{project.id}}">{{project.movie_name}}</a>
      <p>on {{project.event_date}}</p>
    </h2>
    <p>Created by {{project.user.name}}</p>
  </div>
  <div class="col-md-7">
    <p>{{project.event_location}}</p>
    <p>{{project.invitees}}</p>
  </div>
</div>
{{/each}}
